%section{data: {"background" => "vendor/eth-reveal-theme/images/ETHbackground.png", "background-size" => "100%", "background-position" => "bottom"}}
  %h2 High-energy interferometry on X-ray tubes
  %h4 <i>M. Abis</i>, G. Lovrić, M. Büchner, Z. Wang, M. Stampanoni

%section
  %h2 Goals and motivation
  %ul
    %li feasibility of phase contrast on tubes with \(>100\) kVp
    %li typical environment for medical, security and material science applications

%section
  %h2 Grating interferometry
  = image_tag "hDPC_setup.png", style: "width: 30vw"

%section
  %h2 Grating interferometry
  %h3 phase stepping
  = image_tag "phase_stepping.png", style: "width: 30vw"

%section
  %h2 \( n = 1 - \delta + i \beta \)
  .div
    = image_tag "ps.png", style: "width: 30vw"
  %ul
    %li ratio of the averages \(A\) &rightarrow; \( \beta \)
    %li phase difference &rightarrow; \( \delta \)
    %li ratio of the amplitudes \(B\) &rightarrow; scattering

%section
  %h2 High aspect ratio
  .div.col-md-6
    = image_tag "140217_bosch_p1um_01.png", style: "width: 30vw"
  .div.col-md-6
    = image_tag "140505_old_au01.png", style: "width: 30vw"

%section
  %h2 Grating parameters
  %ul
    %li 80-140 μm Au absorption thickness
    %li 5.4 μm period
    %li \(\pi\) shift 45 keV
  = image_tag "visibility_energy.png", style: "width: 30vw"

%section
  %section
    %h2 Silica microspheres
    %p \(R = \frac{\log(\text{dark field})}{\log(\text{absorption})}\)
    = image_tag "SIo2MS_1_8_890nm.jpg", style: "width: 20vw"

  %section
    %h2 Grating interferometry
    %h3 phase stepping
    = image_tag "phase_stepping.png", style: "width: 30vw"


%section
  %h2 Effects of microstructure
  %ul
    %li
      Lynch et al.
      \\[
      \\mu_d = \frac{3\pi}{\lambda^2}f |\Delta n|^2 d
      \\begin{cases}
      D' & \text{if } D' \leqslant 1\\[2ex]
      \\!\begin{align}
      & D' - \sqrt{D'^2 - 1}\\
      & (1 + D'^{-2}/2) \\
      & + (D'^{-1} + D'^{-3} / 4) \\
      & \log\left(\frac{D' + \sqrt{D'^2 - 1}}{D' - \sqrt{D'^2 - 1}}\right)
      \\end{align} & \text{otherwise}
      \\end{cases}
      \\]
    %li dark field as a function of sphere diameter and photon energy

%section
  %h2 Incoherent sum over the spectrum
  %p
    \\[
    R(\energy) = \frac{\log B}{\log A} = \frac{\mu_d}{2k\beta}
    \\]
  %p
    \\[
    R = C\frac{\sum_\energy w(\energy)|\Delta n(\energy)|^2 \energy u(\energy)}{\sum_\energy w(\energy) \energy \beta}
    \\]
  %p where \(w(\energy)\) are the spectral weights, and \(u(\energy)\) is the conditional from Lynch
  %p only one fit parameter: \(C\)

%section
  %h2 Microsphere samples
  = image_tag "summary.png", style: "width: 30vw"

%section
  %h2 Combine beamline + tube
  %h4 courtesy of Goran Lovric
  = image_tag "goran/image8.png", style: "width: 30vw"
  = image_tag "goran/image7.png", style: "width: 30vw"

%section
  %h2 Align the same region
  %ul 
    %li detailed beamline tomography, resolving the microstructure
    %li comparison with integrated tube data
  = image_tag "goran/image15.png", style: "width: 30vw"

%section
  %h2 Beamline scans
  %p Negative result (no structural difference)
  .div.col-md-6
    %p control
    = image_tag "goran/image16.jpeg", style: "width: 30vw"
  .div.col-md-6
    %p smoke
    = image_tag "goran/image17.jpeg", style: "width: 30vw"

%section
  %h2 Tube scans
  = image_tag "goran/image14.png", style: "width: 30vw"

%section
  %h2 Tube results
  %h4 (also negative)
  = image_tag "lung_samples_tube.png", style: "width: 30vw"

%section
  %h2 Conclusions
  %ul
    %li Operational setup that can be coordinated with beamline experiments
    %li Finally good understanding of dark-field interactions at high energies

  %h2 Next experiments
  %ul
    %li Medical: new rat samples from Bern
    %li Material science: water diffusion in concrete

%section
  %h2 Thanks for your attention
